<!--부스 리스트, 정보 입력--> <!--검색창 네비에 가려진 것 조정-->
<style>  
  img{
    width:50px;
  }
  .booth_search{
    padding-top:60px; 
  }
</style>  
#bb_table { border-collapse:collapse; }  
#bb_table th, #tt_table td, #tt_table tr { border:1px solid black; }
#bb_table th {padding: 0 20px 0 10px;}
#bb_table td {padding-left:10px;}
</style>
</style>

<p id="notice"><%= notice %></p>



<h4 style="font-weight:bold; margin-top: 60px;">공지!</h4>
<h5>1. 24일만 할 경우 25일과 26일에는 24, 25, 26을 제외한 다른 숫자를 입력하셔야 됩니다.<br>
2. 주점이 아닌 부스는 구역을 A B C D가 아닌 'booth'로 입력해주셔야 합니다!</h5>


<%= search_form_for @search do |f| %>
  <div class = "field">
    <%= f.label :title_cont, "부스 이름으로 검색" %>   <!--부스 이름(title)로 검색-->
    <%= f.text_field :title_cont %>
  </div>
  <div class ="actions"><%= f.submit "검색" %></div>
<% end %>


<h1>Listing Booths</h1>

<table id="bb_table">
  <thead>
    <tr>
      <th>24일</th>
      <th>25일</th>
      <th>26일</th>
      <th>부스/주점</th>
      <th>부스/주점 이름</th>
      <th>구역</th>
      <th>학과/동아리 이름</th>
      <th>첨부사진</th>
      <th>태그목록</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booths.each do |booth| %>
      <tr>
        <td><%= booth.sche %></td>
        <td><%= booth.sche_2 %></td>
        <td><%= booth.day3 %></td>
        <td><%= booth.choose %></td>
        <td><%= booth.title %></td>
        <td><%= booth.area %></td>
        <td><%= booth.name %></td>
        <td><%= image_tag(booth.image.url)%></td>
        <td><%= tag_icons booth.tag_list %></td>
        <td><%= link_to 'Show', booth %></td>
        <td><%= link_to 'Edit', edit_booth_path(booth) %></td>
        <td><%= link_to 'Destroy', booth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to '모든 부스', booths_path %>
<br>
<%= link_to '새 부스', new_booth_path %>
<br>
<%= link_to '관리자 사이트맵 바로가기', home_administrator_sitemap_path %>


<style>
  #bb_table table ,#bb_table tr, #bb_table th, #bb_table td{
    border:1px black solid;
    padding:5px;
  }
</style>