<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @timetable.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @timetable.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @timetable.location %>
</p>

<p>
  <strong>Content:</strong>
  <%= @timetable.content %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @timetable.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @timetable.end_time %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
