<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>

<body>





    <!-- Page Content -->
<div class="about_container", style="text-align:center">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <br></br>
                <h2 class="page-header"><br>About Us
                </h2>
                <br></br>
                <p style="font-size:1.2rem; text-align:center">아주대학교 멋쟁이사자처럼 5기</p>
                <p style="font-size:1.2rem; text-align:center">축제사이트 개발팀</p>
                <br></br>
            </div>
        </div>


        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"> Developers </h2>
            </div>
        </div>
</div>

        <div class="container">
          <div class="row">
                
                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/민규.jpg')%>
                        <br></br>
                        <h4>김민규
                            <small>E-비즈12</small>
                        </h4>
                        <br>
                        <h6>고무고무~ 멍!!</h6>
                        <br>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/호영.jpg')%>
                        <br></br>
                        <h4>김호영
                            <small>27살</small>
                        </h4>
                        <br>
                        <h6> 내가말이야 짜식들아 왕년에는 잘나갔어 </h6>
                        <br>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                            <%= image_tag('abouts/성혁.jpg')%>
                            <br></br>
                            <h4>문성혁
                                <small>학번없는 아대생</small>
                            </h4>
                            <br>
                            <h6>" 지구에 나 혼자였으면 좋겠다 <br></br>그럼 코딩 안해도 되잖아 "</h6>
                            <br>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/원철.jpg')%>
                        <br></br>
                        <h4>손원철
                            <small>건축12</small>
                        </h4>
                        <br>
                        <h6> 애프터유 존홉간닷 기무띠</h6>
                        <br>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/희수.jpg')%>
                        <br></br>
                        <h4>신희수
                            <small>소웨16</small>
                        </h4>
                        <br>
                        <h6>빠바 빵순이</h6>
                        <br>
                    </div>
        
                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/형락.jpg')%>
                        <br></br>
                        <h4>이형락
                            <small>미디어13</small>
                        </h4>
                        <br>
                        <h6>터미네이터 B-743</h6>
                        <br>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/서정.jpg')%>
                        <br></br>
                        <h4>장서정
                            <small>산공14</small>
                        </h4>
                        <br>
                        <h6>나 이뿌~</h6>
                        <br>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/지원.jpg')%>
                        <br></br>
                        <h4>전지원
                            <small>소웨16</small>
                        </h4>
                        <br>
                        <h6>이두희 널 용서하지 않겠다</h6>
                        <br>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/성흠.jpg')%>
                        <br></br>
                        <h4>최성흠
                            <small>소웨14</small>
                        </h4>
                        <br>
                        <h6> 뒤에 분 번호좀.. </h6>
                        <br>
                    </div>
                
                    <div class="col-lg-4 col-sm-6 text-center">
                        <br></br>
                        <%= image_tag('abouts/창효.jpg')%>
                        <br></br>
                        <h4>최창효
                            <small>경영12</small>
                        </h4>
                        <br>
                        <h6>Yo 여행이 인생의진리 아이겠나 </h6>
                        <br>
                    </div>

            </div>
          </div>
    </body>
</html>