<div id="booth1"> <!-- 부스 검색기능 활성화를 위해 div로 전체 감싸줌 -->

    <!--부스 페이지에 배경으로 부스/주점 이미지 삽입-->
  <div class="back-image mt-10" id="booth-background-image">
    <div class="black">
      <div class="container">
        <div class="row mb-2 ml-0 mr-0 title">
          <h1 class="text-white title mx-auto">부스(낮) & 주점(밤)</h1>
        </div>
        <div class="row justify-content-center mt-0 mb-4 ml-0 mr-0">
          <input class="form-control search" placeholder="이름이나 단체명을 입력하세요!" style="text-align: center;"/>
        </div>   
      </div>
    </div>
  </div>
    
  <div class="container" id="booths">
    <div class="row justify-content-center ml-0 mr-0 mt-3 mb-3">
      <div class="filters col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h3 class="text-center align-middle mt-3 show1">날짜</h2>
          </div>
          <div class="filters col-md-4 btn-group js-radio-button-group p-2 justify-content-center" data-filter-group="date">
            <button class="btn btn-lg btn-secondary is-checked" data-filter="*"><small>전체</small></button>
            <button class="btn btn-lg btn-secondary" data-filter=".day24"><small>24일</small></button>
            <button class="btn btn-lg btn-secondary" data-filter=".day25"><small>25일</small></button>
            <button class="btn btn-lg btn-secondary" data-filter=".day26"><small>26일</small></button>
          </div>
          <div class="col-md-2">
            <h3 class="text-center align-middle mt-3 show1">유형</h2>
          </div>
            <div class="filters col-md-4 btn-group js-radio-button-group p-2 justify-content-center" data-filter-group="type">
              <button class="btn btn-lg btn-secondary is-checked" data-filter="*"><small>전체</small></button>
              <button class="btn btn-lg btn-secondary" data-filter=".type_booth"><small>부스</small></button>
              <button class="btn btn-lg btn-secondary" data-filter=".type_soju"><small>주점</small></button>
            </div>
          </div>
        </div>
      </div>
  
    <div class="grid list row ml-0 mr-0 mb-4">
      <% card_count = 1 %>
      <% column = 1 %>
      <!-- 부스 경우에 따라 필터링. 부스/주점 타입 분류 코드 -->
      <% @booths.each do |booth| %>
        <% if "#{booth.choose}" == "부스" %>
          <% booth_type = "type_booth" %>
        <% else %>
          <% booth_type = "type_soju" %>
        <% end %>
        
        <!-- 지도 위치별 색상 디자인을 위한 분류코드 -->
        <% if booth.area == "A" %> 
          <% area = "A" %>
        <% elsif booth.area == "B" %>
          <% area = "B" %>
        <% elsif booth.area == "C" %>
          <% area = "C" %>
        <% elsif booth.area == "D" %>
          <% area = "D" %>
        <% end %>
        
        <!-- 부스 만들 때 날짜 3개 선택하고, 선택한 날짜를 문자열로 바꿈 -->
        <% booth_sche = booth.sche.to_s %>
        <% booth_day2 = booth.sche_2.to_s %>
        <% booth_day3 = booth.day3.to_s %>
        <!-- 날짜 3개 중, 첫번째 날짜가 24일이면 day24로, 25일이면 day25, 26일이면 day26으로 해서 카드의 class에 적용하여 필터링 적용되게 하는 것 -->
        <% if booth_sche[8,2] == "24" %>
          <% booth_date_1 = 'day24' %>
        <% elsif booth_sche[8,2] == "25" %>
          <% booth_date_1 = 'day25' %>
        <% elsif booth_sche[8,2] == "26" %>
          <% booth_date_1 = 'day26' %>
        <% end %>
        
        <% if booth_day2[8,2] == "24" %>
          <% booth_date_2 = 'day24' %>
        <% elsif booth_day2[8,2] == "25" %>
          <% booth_date_2 = 'day25' %>
        <% elsif booth_day2[8,2] == "26" %>
          <% booth_date_2 = 'day26' %>
        <% end %>

        <% if booth_day3[8,2] == "24" %>
          <% booth_date_3 = 'day24' %>
        <% elsif booth_day3[8,2] == "25" %>
          <% booth_date_3 = 'day25' %>
        <% elsif booth_day3[8,2] == "26" %>
          <% booth_date_3 = 'day26' %>
        <% end %>
        <!--여기까지 날짜별로 카드 분류하는 코드 -->

        <div class="card text-center date-type <%= booth_date_1 %> <%= booth_date_2 %> <%= booth_date_3 %> <%= booth_type %>
          col-lg-4 col-6 mb-2" style="border:0px solid blue; background-color: #444; padding: 0px!important;">
          <div class="card-block <%= area %>" style="padding: 0px;">


            <div class="card-container-material" style="border-radius: 12px;">
              <div class="card-material">
                <div class="card-image-material-<%= booth_type %>">
                  <div style="background-color: rgba(0,0,0,0.4); width: inherit; height: inherit;">
                                      
                    <h5 class="name card-title title text-white"><%= booth.title %></h5>
                    <p class="symbol card-text text-center major text-white"><%= booth.name %></p>
                  </div>
                </div>
                <div class="card-social-material row icons col-12 justify-content-center">
                  <div class="col-4">
                    <a onclick="showModal(<%= card_count %>)"><i class="fa fa-picture-o icon text-white"></i></a>
                  </div>
                  <div class="col-3 my-auto" style="font-size: 1.5rem;">
                    <span class="text-white" style="font-family: 경기천년제목;"><%= area %></span>
                  </div>
                  <div class="col-4">
                    <a href="<%= boothinfo_map_path%>?mode=<%=booth.choose%>"><i class="fa fa-map-marker icon text-white"></i></a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>

        <% card_count += 1 %>
        <% column += 1 %>
      <% end %>
    </div>
    
    <!-- 카드 목록만들기 -->
    <div class="modals">
      <% card_count = 1 %>
      <% @booths.each do |booth| %>
        <div id="modal<%= card_count %>" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title"><%= booth.title %></h4>
              </div>
              <div class="modal-body">
                <p style="text-align:center;"><%=image_tag(booth.image.url)%></p>
                <p class="text-warning"><small><%= booth.name %></small></p>
                <p class="text-warning"><small><%= tag_info_icons booth.tag_list %></small></p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <% card_count += 1 %>
      <% end %> <!-- 카드 끝-->
      <a class="btn btn-primary btn-lg" role="button" style="width: 100px; text-align: center; background-color: #f4f4f4; border-color: black;  
      color: black; border-width: 2px; font-family: 경기천년제목; padding: 3px 0px!important; margin-left: 15px;" <a="" href="/boothinfo/index">전체 목록</a>
    </div>
  </div>
</div>
