
<% if params[:mode] == "주점" then %>
    
    <% if params[:area] == "A" then %>
    <p><%=params[:title]%>은 <%=params[:area]구역에 있습니다!</p>
    <%= image_tag "map.png" %>
    <% elsif params[:area] == "B" then %>
    <%= image_tag "map.png" %>
    <% elsif params[:area] == "C" then %>
    <%= image_tag "map.png" %>
    <% elsif params[:area] == "D" then %>
    <%= image_tag "map.png" %>
    <% end %>
<% elsif params[:mode] == "부스" then %>
    <%= image_tag "campus_map.png" %>
<% end %>
<a class="btn btn-primary btn-lg" role="button" style="width: 130px; text-align: center; background-color: #f4f4f4; border-color: black;  
      color: black; border-width: 2px; font-family: gyonggi; padding: 3px 0px!important; margin-left: 15px;" <a="" href="/boothinfo/index">돌아가기>_<</a>
<style>
    img{
        max-width:100%;
    }
</style>